
/*
UI Colors
*/
$color-main: #202936;//main color
$color-white: #ffffff;
$color-medium-grey: #626D7E;// Body Copy
$color-light-grey:#C5CAD4;//Disabled text Rules
$color-pale-blue:#F4F6F9;//switch
$color-stone-blue:#8091A8;//accent text such as summary and helper text
$color-light: #FBFCFC;//used for playground background


/*UI*/
$border-radius:3px;